
nav {
  height : 100px;
  width : 100%;
  background-color : #383737;
  font-family : 'Alegreya Sans';
}
.main-menu-holder {
  margin-right : 194px;
  margin-top : -76px;

}
.main-menu li {
  font-size : 20px;
  float : right;
  list-style : none;
  padding : 20px;
}
.main-menu li a {
  color : white;
  text-decoration : none;
}
.logo img {
  width : 50px;
  height : 50px;
  margin-left : 194px;
  margin-top : 23px;
}
.banner {
  width : 100%;
  height : 378px;
  background-color : black;
}
.about{
  border:1px solid red;
  height: 500px;
  width: 100%;
  background-color: white;
  margin-top: 500px;
}
.slideshow-about{
  height: 400px;
  width: 50%;
  background-color: #808080;
  margin-top: 100px;
  float:left;
}
.aboutright{
  height: 400px;
  width: 50%;
  float: right;
  margin-top: 100px; 
}
.img{
  height: 400px;
  width: 100%;
}
p{
  color:white;
  font-family: arial;
  font-size: 30px;
}
